
h1{
    color:rgb(43, 172, 216);
}

a:link {
    color: pink;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: none;
}

h1 {
	color: white;
	text-shadow: rgb(36, 182, 231) 1px 0 10px;
	/*background-color: #7f7fcf;*/
}

h2 {
	color: hsl(204, 88%, 56%);
	/*border: solid 1px black;*/
	background: linear-gradient(0.25turn, #aad6f0, white);
	font-family: cursive;
	margin: 5px;
}